{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href='{% static "main/css/my_footer_css.css" %}'>
{% endblock %}

{% block model_cart %}
{% include 'includes/cart_button.html' %}
{% endblock %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
    {% for about in about_all %}
        <h2 class="m-2"><strong>{{ content }}</strong></h2>
        <p class="m-2">{{ about.about }}</p>

{#        <a href="tel:{{ about.phone }}" class="btn btn-white">#}
{#            <img class="mx-1" src="{% static 'main/icons/phone12.svg' %}" alt="Catalog Icon" width="30" height="30">#}
{#            <p class="m-2">Phone Number</p>#}
{#        </a>#}
{##}
{#        <a href="{{ about.address }}" class="btn btn-white">#}
{#            <img class="mx-1" src="{% static 'main/icons/location.svg' %}" alt="Catalog Icon" width="30" height="30">#}
{#            <p class="m-2">Address</p>#}
{#        </a>#}
{##}
{#        <a href="{{ about.facebook }}" class="btn btn-white">#}
{#            <img class="mx-1" src="{% static 'main/icons/facebook.svg' %}" alt="Catalog Icon" width="30" height="30">#}
{#            <p class="m-2">Facebook</p>#}
{#        </a>#}
{##}
{#        <a href="mailto:{{ about.email }}" class="btn btn-white">#}
{#            <img class="mx-1" src="{% static 'main/icons/gmail.svg' %}" alt="Catalog Icon" width="30" height="30">#}
{#            <p class="m-2">Gmail</p>#}
{#        </a>#}
{##}
{#        <a href="{{ about.instagram }}" class="btn btn-white">#}
{#            <img class="mx-1" src="{% static 'main/icons/instagram.svg' %}" alt="Catalog Icon" width="30" height="30">#}
{#            <p class="m-2">Instagram</p>#}
{#        </a>#}
{##}
{#        <a href="{{ about.telegram }}" class="btn btn-white">#}
{#            <img class="mx-1" src="{% static 'main/icons/telegram.svg' %}" alt="Catalog Icon" width="30" height="30">#}
{#            <p class="m-2">Telegram</p>#}
{#        </a>#}

    {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Atahan 2024</p>
        </div>
    </footer>
{% endblock %}






